.u-section-1 .u-sheet-1 {
  min-height: 1426px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 119px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  margin: -5px -30px 0 30px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 342px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 220px;
  height: 220px;
  background-image: url("images/pexelsphoto2598031.jpeg");
  background-position: 100% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 342px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 220px;
  height: 220px;
  background-image: url("images/pexelsphoto20233841.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 342px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 220px;
  height: 220px;
  background-image: url("images/pexelsphoto56733.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 342px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 220px;
  height: 220px;
  background-image: url("images/pexelsphoto236640.jpeg");
  background-position: 50% 0%;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  background-image: none;
  margin: 20px -30px 0 30px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 12px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 342px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 220px;
  height: 220px;
  background-image: url("images/1619183869_43-oir_mobi-p-khitraya-lisa-zhivotnie-krasivo-foto-49.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 342px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 220px;
  height: 220px;
  background-image: url("images/obl-xorek.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 342px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 342px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1306px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-1 .u-image-1 {
    width: 175px;
    height: 175px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-1 .u-image-2 {
    width: 175px;
    height: 175px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 282px;
  }

  .u-section-1 .u-image-3 {
    width: 175px;
    height: 175px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 282px;
  }

  .u-section-1 .u-image-4 {
    width: 175px;
    height: 175px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 282px;
  }

  .u-section-1 .u-image-5 {
    width: 175px;
    height: 175px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 282px;
  }

  .u-section-1 .u-image-6 {
    width: 175px;
    height: 175px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 282px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 327px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 216px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 216px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3316px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 2px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 648px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 648px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2853px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 408px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 408px;
  }
}